body{
    background-image: url('./assets/images/kobe-2000.jpg');
    z-index:0;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.indexBod{
    overflow: hidden;
}
#mainPic{
    height:200px;
    width:175px;
}
#mainPage{
    text-align: center;
    margin:60vh auto;
}
.titletext{
    text-shadow: 5px 5px 7px black;
    font-size: 10vh;
    font-family:oxygen,sans-serif;
    font-weight:bold;
    color:white;
}
#enterButton{
    background-color: yellow !important;
    color:black !important;
    font-weight:bold;
   /* -webkit-text-stroke: 1px !important;
   -webkit-text-stroke-color: white !important; */
}
.jumboPic{
    height:auto;
    max-height:40vh;
    width: auto;
    max-width:100%;
    display:inline-block;
}
h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 10vh;
    padding: 1% 1%;
    text-align: center;
    max-width: 100%;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.slogan{
    font-family: Permanent Marker, cursive;
    color:yellow;
    font-size: 7vh;
}
.deepshadow {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
  .btn-group{
      max-width:100%;
  }
  #sanfordPic{
      vertical-align: middle !important;
  }
  .footie{
      border-top-width: 3px !important;
  }
  .aboutMe{
      height:100%;
      overflow: hidden;
      margin:0;
  }
  #backgroundInfo{
    height:400px !important;
    overflow-y: scroll;
    width:100%;
  }
  .card{
      max-width: 90%;
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 5vh;
    }
    .btn-group{
        margin-bottom:3%;
    }
    #mainPage{
        margin:25vh auto;
    }
    .indexBod{
        background-size: cover;
        background-position: 25% 0%;
    }
  }
/*.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    max-height: 10vh;
    max-width: 100%;
}
/*.jumbotron{
    background-image: url('assets/images/squad.jpg') !important;
    background-size: cover;
}*/